{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    
        <h1 id="title-home"> < Hello world /> </h1>

        <p id="nom">Benjamin Affile</p>
        <p id="formation">Developpeur web Junior</p>
        <p id="language">PHP ~ Symfony</p>
    

{% endblock %}
