{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    
        <div class="apropos">

            <img class="img-portrait" src="/build/images/Portrait.jpg" alt="Portrait">

            <div class="textapropos">
                <p> 
                    Salut, moi c’est Benjamin  developpeur web junior.
                    Je suis actuellement en formation à 
                    la Wild Code School spécialiser PHP.
                </p><br>  
                
                <p>
                    J’ai une formation initial de cuisinier ou j’ai pu 
                    apprendre la rigueur et l’organisation .
                    J’ai ensuite été approvisionneur pendant 4 ans 
                    au cours des quelles je me suis blesser et ainsi me
                    suis réorienter.
                </p><br>
                
                <p>
                    Passionné d’informatique depuis mon plus jeune age,
                    c’est tout naturellement que je me suis tourner vers le
                    Développement Web Métier que je découvre depuis 
                    quelques mois et que j’apprécie de plus en plus .
                </p><br>
                
                <p>  
                    Si tu as des questions n’hésite pas a me contacter via
                    la page contact, je me ferais un plaisir d’y répondre :D
                </p>
            </div>
        </div>
    

{% endblock %}