{% block header %}

    <nav>
        <ul>

            <li class="li-menu">  
                <a class="btn-nav" href="/">Accueil</a>  
            </li>

            <li class="li-menu">
                <a class="btn-nav" href="/projet">Projets</a>
            </li>

            <li class="li-menu">
                <a class="btn-nav" href="/À-propos">À propos</a>
            </li>

            <li class="li-menu">
                <a class="btn-nav" href="/contact">Contact</a>
            </li>

        </ul>
    </nav>

{% endblock %}
